/* =========================================================
 * FONT-FACE
 * ========================================================*/
/*@font-face {
  font-family: GothamRounded;
  src: url(../fonts/GothamRounded-Medium.otf) format("otf");
  src: local("GothamRounded-Medium"), url(../fonts/GothamRounded-Medium.otf) format("truetype");
}*/
/* Note: Have override Bootstrap's font for GothamRounded */

/* padding bottom for bootstrap fixed footer */
body {
  overflow-x: hidden;
}


#nav {
  text-align: center;
}

/* =========================================================
 * NAV
 * ========================================================*/
#nav-list {
  display: inline-block;
  text-align: center;
  list-style: none;
  margin: 40px auto;
  margin-left: -41px;
  line-height: 53px;
  font-size: 19px;
}
/*#nav-list > li {
  float: left;
}*/
#nav-list > li > a > #logo {
  margin-top: 4px;
}
.nav-item img {
  border: 2px solid white;
  border-radius: 100px;
}
.description > p {
  font-size: 20px;
  color: white;
  margin: 20px;
  padding: 20px;
}
.description > h2{
  font-size: 45px;
  color: white;
  letter-spacing: 10px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 0;
  margin: 20px 0 20px 0;
  padding-top: 50px;
}
.social-icons {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  margin: 0 auto;
  padding: 50px;
}
.social-icons i {
  color: white;
  margin: 0 auto;
  padding: 20px;
}
.social-icons i:hover {
  color: #A5CE39;
}
.social-icons img {
  margin: 5px;
  height: 4%;
}

/* =========================================================
* MAIN CONTENT / ABOUT / MISSION
* ========================================================*/
.main_bg {
  width: 100%;
  height: 880px;
  background: url(../images/stars.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 0px;
  margin: 0 auto;
 }
div.about{
  float: left;
  margin: 0 auto;
  padding: 15px 0 0 50px;
  width: 48%;
  height: auto;
  color: white;
 }
div h1 {
  color: #A5CE39;
 }
div.mission {
  float: right;
  margin: 0 auto;
  padding: 15px 50px 0 0;
  width: 48%;
  height: auto;
  color: white;
 }


/* =========================================================
 * FOOTER
 * ========================================================*/
/* Bootstrap <nav class="navbar navbar-default navbar-fixed-bottom"> */
#footer {
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  font-size: 15px;
  font-weight: bold;
  color: #c9c9c9;
}
#footer a {
  color: #A5CE39;
  padding: 20px;
  margin: 0 auto;
}
#footer a:hover {
  text-decoration: none;
  color: #2fbf03;
}

/* =========================================================
 * RESPONSIVE
     For mobile (<768px), menu stack. Tablet (>768px).
     Medium Desktop (>992px). Large Desktop (>1200px)
 * ========================================================*/
@media screen and (max-width: 768px) {
    .main_bg {
      height: 730px;
      width: auto;
    }
  .description img {
      width: 95%;
  }
  .description > p {
    font-size: 15px;
  }
  .description > h2 {
    font-size: 22px;
    letter-spacing: 5px;
    padding: 15px 0 20px 0;
  }
}
@media screen and (min-width: 768px) {
  .main_bg {
    height: 1000px;
    width: auto;
  }
}
